/*
 * SPDX-FileCopyrightText: © 2024 David Bliss
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.title-header{
  font-size: 36px;
  font-weight: bold;
}

/* Year photo grid frame around year labels */
.photo-grid-year-frame{
  background-color: rgba(0, 0, 0, 0.4);
}

/* Year photo grid frame label */
.photo-grid-year-label{
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 14px;
}

/* Month photo grid frame around year labels */
.photo-grid-month-frame{
  background-color: rgba(0, 0, 0, 0.4);
}

/* Month photo grid frame label */
.photo-grid-month-label{
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 14px;
}

/* Month photo grid frame around photo status labels */
.photo-grid-photo-status-frame {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Month photo grid frame status label */
.photo-grid-photo-status-label {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 14px;
}

/* No transformations for north */
.North {}

.NorthMirrored {
  transform: scaleX(-1);
}

.East {
  transform: rotate(-90deg);
}

.EastMirrored {
  transform: rotate(-90deg) scaleX(-1);
}

.South {
  transform: rotate(180deg);
}

.SouthMirrored {
  transform: rotate(180deg) scaleX(-1);
}

.West {
  transform: rotate(90deg);
}

.WestMirrored {
  transform: rotate(90deg) scaleX(-1);
}

/* Map view styles */
.map-thumbnail-border {
  border-color: white;
  border-width: 4px;
}

.map-thumbnail-label-frame {
  background-color: rgba(0, 0, 0, 0.4);
}

.map-thumbnail-label-text {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 12px;
}

.face-small {
  border-color: rgba(255, 255, 255, 0.8);
  border-width: 2px;
  border-radius: 50%;
}

.face-thumbnail-label-frame {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.face-thumbnail-label-text {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  font-size: 12px;
}

.face-thumbnail-overlay {
  border-color: rgba(0,0,0,0);
}
